{% extends "admin/admin_base.html" %}


{% block content %}

    <div class="grid grid-cols-5 gap-5">
        <div class="flex flex-1 bg-yellow-800 text-white flex-col px-5 py-4 rounded-lg">
            <h2 class="text-3xl font-bold">40</h2>
            <h1 class="text-2xl font-semibold">Total Books</h1>
        </div>
        
        <div class="flex flex-1 bg-purple-800 text-white flex-col px-5 py-4 rounded-lg">
            <h2 class="text-3xl font-bold">40</h2>
            <h1 class="text-2xl font-semibold">Total Genere</h1>
        </div>
        
        <div class="flex flex-1 bg-blue-800 text-white flex-col px-5 py-4 rounded-lg">
            <h2 class="text-3xl font-bold">40</h2>
            <h1 class="text-2xl font-semibold">Total Users</h1>
        </div>
        
        <div class="flex flex-1 bg-red-800 text-white flex-col px-5 py-4 rounded-lg">
            <h2 class="text-3xl font-bold">40</h2>
            <h1 class="text-2xl font-semibold">Total Payments</h1>
        </div>
        
        <div class="flex flex-1 bg-green-800 text-white flex-col px-5 py-4 rounded-lg">
            <h2 class="text-3xl font-bold">40</h2>
            <h1 class="text-2xl font-semibold">Total Orders</h1>
        </div>
        
    </div>


    <div class="grid grid-cols-2 gap-5 mt-10">
        <div class="flex flex-1 flex-col bg-slate-50 p-5">
            <h2 class="space-y-3 font-semibold text-2xl ">Recent Orders</h2>
            <table class="w-full border mt-5">
                <thead>
                    <tr>
                        <th class="border">Id</th>
                        <th class="border">Name</th>
                        <th class="border">Amount</th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>

{% endblock content %}