{% extends "admin/admin_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="flex gap-5 flex-1">
        <div class="flex w-9/12 flex-col">
            <h2 class="space-y-3 font-semibold text-2xl ">Manage Generes ({{generes|length}})</h2>
            <table class="w-full border mt-5">
                <thead>
                    <tr>
                        <th class="border p-3">Id</th>
                        <th class="border p-3">Name</th>
                        <th class="border p-3">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genere in generes %}
                        <tr>
                            <td class="border p-3">{{genere.id}}</td>
                            <td class="border p-3">{{genere.title}}</td>
                            <td class="border p-3">{{genere.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            {#  summary of pages. total books 40 (showing 1 of 5) Page No 1  #}
            <div class="flex items-center gap-3 mt-5 text-sm text-slate-500">
             <p>Total Books: {{generes.paginator.count}}</p>
             <p>Showing {{generes.start_index}} to {{generes.end_index}}</p>
             <p>Page No: {{generes.number}}</p>
             </div>
            {#  pagination buttons  #}
            <div class="mt-5 flex items-center gap-3 justify-between">
                {% if generes.has_previous %}
                    <span class="px-3 py-1 border bg-gray-300"><a href="?page={{ generes.previous_page_number }}">Previous</a></span>
                {% else %}
                    <span class="px-3 py-1 border bg-gray-300 text-gray-500 cursor-not-allowed">Previous</span>
                {% endif %}

                {% if generes.has_next %}
                <span class="px-3 py-1 border bg-green-300"><a href="?page={{ generes.next_page_number }}">Next</a></span>
                {% else %}
                <span class="px-3 py-1 border bg-gray-300 text-gray-500 cursor-not-allowed">Next</span>
                {% endif %}
            </div>
        </div>
        <div class="flex w-3/12 flex-col">
            <h2 class="space-y-3 font-semibold text-2xl ">Insert Genere</h2>
            <form action="" method="post">
                    {% csrf_token %}
                    {{form|crispy}}

            <button type="submit" class="bg-purple-700 text-white px-3 py-2 rounded mt-5">Add Genere</button>
            </form>

        </div>
    </div>

{% endblock content %}