{% extends "admin/admin_base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="flex flex-1 gap-5">
        <div class="flex w-9/12 flex-col">
            <h2 class="space-y-3 font-semibold text-2xl ">Manage Author ({{authors|length}})</h2>
            <table class="w-full border mt-5">
                <thead>
                    <tr>
                        <th class="border">Id</th>
                        <th class="border">Name</th>
                        <th class="border">No of Books</th>
                    </tr>
                </thead>
                <tbody>
                    {% for author in authors %}
                        <tr>
                            <td class="border p-3">{{author.id}}</td>
                            <td class="border p-3">{{author.name}}</td>
                            <td class="border p-3">{{author.authors.count}}</td>
                        </tr>
                    {% endfor %}
            </table>
            {#  summary of pages. total author 40 (showing 1 of 5) Page No 1  #}
            <div class="flex items-center gap-3 mt-5 text-sm text-slate-500">
             <p>Total Authors: {{authors.paginator.count}}</p>
             <p>Showing {{authors.start_index}} to {{authors.end_index}}</p>
             <p>Page No: {{authors.number}}</p>
             </div>
            {#  pagination buttons  #}
            <div class="mt-5 flex items-center gap-3 justify-between">
                {% if authors.has_previous %}
                    <span class="px-3 py-1 border bg-gray-300"><a href="?page={{ authors.previous_page_number }}">Previous</a></span>
                {% else %}
                    <span class="px-3 py-1 border bg-gray-300 text-gray-500 cursor-not-allowed">Previous</span>
                {% endif %}

                {% if authors.has_next %}
                <span class="px-3 py-1 border bg-green-300"><a href="?page={{ authors.next_page_number }}">Next</a></span>
                {% else %}
                <span class="px-3 py-1 border bg-gray-300 text-gray-500 cursor-not-allowed">Next</span>
                {% endif %}
            </div>
        </div>
        <div class="flex w-3/12 flex-col">
            <h2 class="space-y-3 font-semibold text-2xl">Insert Author</h2>

            <form action="" method="post">
                {% csrf_token %}
                {{form|crispy}}

                <button type="submit" class="bg-purple-700 text-white px-3 py-2 rounded mt-5">Add Author</button>
            </form>
            
        </div>
    </div>

{% endblock content %}