{% extends "admin/admin_base.html" %}

{% block content %}
    <div class="flex flex-1">
        <div class="flex w-9/12 flex-col">
            <h2 class="space-y-3 font-semibold text-2xl ">Manage Generes ({{generes|length}})</h2>
            <table class="w-full border mt-5">
                <thead>
                    <tr>
                        <th class="border p-3">Id</th>
                        <th class="border p-3">Name</th>
                        <th class="border p-3">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for genere in generes %}
                        <tr>
                            <td class="border p-3">{{genere.id}}</td>
                            <td class="border p-3">{{genere.title}}</td>
                            <td class="border p-3">{{genere.description}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="flex w-3/12">
            <h2 class="space-y-3 font-semibold text-2xl ">Insert Genere</h2>

        </div>
    </div>

{% endblock content %}