{% extends "base.html" %}


{% block content %}



    {#   products #}

    <div class="w-full">
        <div class="border-b border-slate-200 px-5 py-5">
            <a href="{% url 'homepage' %}" class="text-sm font-normal text-slate-700">Home</a>
                <span class="text-sm font-normal text-slate-700">&raquo;</span>
            <a href="{% url 'category_filter' book.genere.slug %}" class="text-sm font-normal text-slate-700">{{book.genere.title}}</a>
                    <span class="text-sm font-normal text-slate-700">&raquo;</span>
            <span class="text-sm font-normal text-slate-700">{{book.title}}</span>
        </div>

        <div class="grid grid-cols-6">
            <!-- product card -->

                <div class="bg-slate-50 border-l border-slate-200">
                    <img src="{{book.cover_image.url}}" class="w-full" alt="">
                </div>
                <div class="p-3 col-span-4">
                    <h2 class="capitalize">{{book.title}}</h2>
                    <p class="text-sm text-slate-500">Author: {{book.author}}</p>
                    <!-- genere -->
                    <p class="text-sm text-slate-500 mt-1">Genere: {{book.genere}}</p>
                    <!-- description -->
                    <p class="text-sm text-slate-500 mt-3">{{book.description}}</p>
                    {#  discount price  #}
                    <div class="flex items-center gap-3 mt-2">
                        <p class="text-3xl font-semibold text-purple-700">₹{{book.price}}</p>
                        {% if book.discount_price %}
                            <p class="text-xl line-through text-slate-500">₹{{book.discount_price|floatformat:1}}</p>
                        {% endif %}
                    </div>

                    <!-- isbn -->
                    <p class="text-sm text-slate-500 mt-3">ISBN: {{book.isbn}}</p>
                    <!-- no of page -->
                    <p class="text-sm text-slate-500 mt-1">No of Pages: {{book.no_of_pages}}</p>
                    <!-- edition -->

                    <p class="text-sm text-slate-500 mt-1">Edition: {{book.edition}}</p>

                    <!-- buy now button -->
                    <button class="px-6 text-xl bg-purple-700 text-white py-2 mt-5">Buy Now</button>
                    <!-- add to cart  -->
                    <button class="px-6 text-xl bg-slate-200 text-slate-800 py-2 mt-5">Add to Cart</button>
                </div> 
        </div>

        <div class="flex flex-1 border-t border-slate-200 py-5 px-4 items-center gap-3">
            <h2 class="text-xl font-normal text-slate-700">Related Books</h2>

        </div>

        <div class="grid grid-cols-6">
            <!-- product card -->
            {% for book in related_books %}
                <a href="{% url 'book_view' book.slug %}">
                <div class="bg-slate-50 border-l border-slate-200">
                    <img src="{{book.cover_image.url}}" class="w-full" alt="">
                    <div class="p-3">
                        <h2 class="capitalize">{{book.title}}</h2>
                        <p class="text-sm text-slate-500">{{book.author}}</p>
                        <p class="text-lg font-semibold text-purple-700 mt-2">₹{{book.price}}</p>
                    </div>
                </div>
                </a>
            {% endfor %}
        </div>
    </div>

{% endblock  %}