<div class="flex flex-1 bg-white border-b gap-4 items-center justify-between">
    <!-- logo -->
     <h2 class="text-purple-700 p-4 font-semibold uppercase text-2xl border-r border-slate-200 h-fit">BookShop</h2>

     <!-- search -->
      <form action="" method="get" class="flex-1">
        <input type="text" class="border w-full bg-slate-100 placeholder:font-light border-slate-200 px-3 py-2" placeholder="Search by Title, Author, ISBN...">
      </form>


      <!-- cart -->
       <div class="p-4 border-l border-slate-200 flex h-fit gap-4">
            <button class="px-4">Home</button>
            <button class="px-4">Login</button>
            <button class="px-6 text-xl bg-purple-700 text-white py-2">Cart</button>
       </div>
</div>
<!-- for genere -->
<div class="flex flex-1 bg-slate-100 overflow-x-auto gap-2">
    {% for genere in generes %}
    <a href="" class="text-slate-800  py-2 hover:bg-slate-200 h- border-r px-3 border-slate-200">{{genere.title}}</a>
    {% endfor %}
</div>