<div class="flex flex-1 bg-white border-b gap-4 items-center justify-between">
    <!-- logo -->
     <a href="{% url 'homepage' %}" class="text-purple-700 p-4 font-semibold uppercase text-2xl border-r border-slate-200 h-fit">BookShop</a>

     <!-- search -->
      <form action="{% url 'filter' %}" method="get" class="flex-1">
        <input type="text" name="search" class="border w-full bg-slate-100 placeholder:font-light border-slate-200 px-3 py-2" placeholder="Search by Title, Author, ISBN...">
        <input type="submit" hidden>
      </form>


      <!-- cart -->
       <div class="p-4 border-l border-slate-200 items-center flex h-fit gap-4">
           {% if user.is_authenticated %}
            <a href="{% url 'homepage' %}" class="px-4">Hi, {{request.user.first_name}}</a>
            {#  if superuser  #}
            {% if user.is_superuser %}
              <a href="{% url 'admin_index' %}" class="px-4">Dashboard</a>
            {% endif %}
            <a href="{% url 'logout' %}" class="px-4">Logout</a>
           {% else %}
             <a href="{% url 'login' %}" class="px-4">Login</a>
            <a href="{% url 'register' %}" class="px-4">Register</a>
           {% endif %}
            <button class="px-6 text-xl bg-purple-700 text-white py-2">Cart</button>



       </div>
</div>
<!-- for genere -->
<div class="flex flex-1 bg-slate-100 overflow-x-auto gap-2">
    <a href="{% url 'homepage' %}" class="text-slate-800  py-2 hover:bg-slate-200 h- border-r px-3 border-slate-200">All Books</a>

    {% for genere in generes %}
    <a href="{% url 'category_filter' genere.slug %}" class="text-slate-800  py-2 hover:bg-slate-200 h- border-r px-3 border-slate-200">{{genere.title}}</a>
    {% endfor %}
</div>